/*-- scss:defaults --*/

$mint-green: #98FB98;
$logo-green: #00bb64;
$logo-orange: #fcaf00;
$logo-dark-blue: #004d9e;
$logo-teal: #008aa5;

/*-- scss:rules --*/

.reveal {
  font-family: 'Source Sans Pro', sans-serif;
  color: #black; 
  background: #white; 
}

.reveal h1, 
.reveal h2, 
.reveal h3{
  color: $logo-teal; 
}
.reveal h4, 
.reveal h5, 
.reveal h6 {
  color: $logo-orange;
  font-size: 1em;
}

.reveal section:first-child h1 { 
  font-size: 2em; 
}


.reveal p.subtitle {
  font-size: 1.5em; 
}

table {
  td, th {
    font-size: 0.6em;
  }
}

strong, b {
  color: $logo-dark-blue;
}

em {
  color: $logo-green;
}

.reveal a {
  color: $logo-green; 
  text-decoration: underline; 
}

ul {
  list-style: none;
  padding-left: 20px; 
  li {
    &::marker { 
      content: none; 
    }
    &::before {
      content: "• "; /* Default bullet point character */
      color: $logo-dark-blue; /* Default color */
      display: inline-block;
      width: 1em; 
      margin-left: -1em; 
    }

    /* Level 1 bullet points */
    ul li { 
      font-size: 0.9em; /* Adjust this value as needed */
      &::before {
        content: "◦ "; /* Circle bullet point */
        color: $logo-green; 
      }

      /* Level 2 bullet points */
      ul li {
        font-size: 0.9em;
        &::before {
          content: "▪ "; /* Square bullet point */
          color: $logo-orange;
        }
      }
    }
  }
}